{% extends 'base.html.twig' %}
{% block body %}
    <h1>{{ program.title }}</h1>
    <h2>{{ season.number }}</h2>
    {{ episode.number }} - {{ episode.title }}
    {{ episode.synopsis }}
    {% if app.user %}
        {{ form(form) }}
    {% endif %}
    <table>
        {% for comment in comments|sort((a,b)=>b.id <=> a.id) %}
            <tr>
                <td>{{ comment.comment }}</td>
                <td>{{ comment.rate }}</td>
                <td>{{ comment.author.email }}</td>
                {% if app.user %}
                {% if comment.author.email == app.user.email or is_granted("ROLE_ADMIN") %}
                    <td><a href="{{ path("comment_delete", { id: comment.id }) }}">Supprimer</a></td>
                {% endif %}
                {% endif %}
            </tr>
        {% endfor %}
    </table>

{% endblock %}