<nav class="navbar navbar-light sticky-top bg-primary-color">
    <div class="container-fluid">
        <a href="/" class="nav-link active">Accueil</a>
        <a href="/category/">Category</a>
        <a href="/program/">Programs</a>
{#        {{ form_start(form) }}#}
{#        {{ form_widget(form) }}#}
{#        <button class="btn">{{ button_label|default('Save') }}</button>#}
{#        {{ form_end(form) }}#}
        <form action="" class="d-flex">


{{ render(controller(
    'App\\Controller\\SearchController::searchBar'
)) }}
        </form>
        {% if app.user %}
            {{ app.user.email }}
            <a href="{{ path('app_logout') }}"> Se déconnecter</a>
            <a href="{{ path('app_profile') }}">Mon compte</a>
        {% else %}
            <a href="{{ path('app_login') }}"> Se connecter</a>
        {% endif %}
    </div>
</nav>